extends layout

block scripts

block content
  main
    label.lat-long-input-label(for='lat-long-input') Forecast by Latitude and Longitude
    input.lat-long-input(id='lat-long-input' type='text' placeholder='Enter your desired latitude and longitude here')
